OPENAI_API_KEY=sk-proj-QUyExMertw45y64wtAHv--Si8sdghfht4wOLdXocJCLfdweferwfgrqgrvqewfcrqvgtbfefqrff

YOUTUBE_API_KEY=https://console.cloud.google.com/welcome?_gl=1*xqyaflzp+_udfgp*MfdgQ ..*_ gdfgs*MQfgfs .. &ggggtthid=CjOKCQgadfgaesrgdKpmc5bjfgazedtrgclsrc=aw.ds&project=dark-geogrfdshshtrhy-484000-b1